@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #06b6d4, #4fd1c5);
}

body {
  margin: 0;
  background-color: rgb(17 24 39);
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
